---
import "../styles/global.css";
---

<!doctype html>
<html>
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="styles/style.css" />
  </head>
  <body>
    <header class="bg-[#FFC1BC] h-20 flex items-center px-8">
      <!-- LEFT: SEARCH -->
      <div class="relative w-96">
        <input
          type="text"
          placeholder="Cari category...."
          class="w-full h-12 pl-6 pr-14 rounded-full border-2 border-black text-base outline-none"
        />

        <!-- ICON SEARCH -->
        <div class="absolute right-4 top-1/2 -translate-y-1/2">
          <svg
            class="w-5 h-5 text-black"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M21 21l-4.35-4.35M10 18a8 8 0 100-16 8 8 0 000 16z"
            />
          </svg>
        </div>
      </div>

      <!-- RIGHT ICONS -->
      <div class="ml-auto flex items-center gap-8 text-white">
        <!-- Bell -->
        <svg class="w-7 h-7" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M15 17h5l-1.4-1.4A2 2 0 0118 14.2V11a6 6 0 00-12 0v3.2a2 2 0 01-.6 1.4L4 17h5" />
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M9 21h6" />
        </svg>

        <!-- Cart -->
        <svg class="w-7 h-7" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M3 3h2l.4 2M7 13h10l4-8H5.4" />
          <circle cx="7" cy="21" r="1" />
          <circle cx="20" cy="21" r="1" />
        </svg>

        <!-- Profile -->
        <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M5 21v-2a4 4 0 014-4h6a4 4 0 014 4v2" />
          <circle cx="12" cy="7" r="4" />
        </svg>
      </div>
    </header>



    <aside class="bg-[#FDACAC]">
      <nav class="text-white flex flex-col gap-4 p-4">
        <a href="/admin/dashboard" class="flex gap-2 p-3">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-home"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M5 12l-2 0l9 -9l9 9l-2 0"></path><path
              d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path><path
              d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path></svg
          >
          Home</a
        >
        <a href="/admin/products" class="flex gap-2 p-3">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-building-store"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M3 21l18 0"></path><path
              d="M3 7v1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1h-18l2 -4h14l2 4"
            ></path><path d="M5 21l0 -10.15"></path><path d="M19 21l0 -10.15"
            ></path><path d="M9 21v-4a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v4"
            ></path></svg
          >
          Produk</a
        >
        <a
          href="/admin/categories"
          class="flex gap-2 p-3 hover:bg-blue-950 transition hover:rounded-2xl"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-category-2"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M14 4h6v6h-6l0 -6"></path><path d="M4 14h6v6h-6l0 -6"
            ></path><path d="M14 17a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path><path
              d="M4 7a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path></svg
          >
          Categories
        </a>
        <a href="/admin/users" class="flex gap-2 p-3">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-users"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M5 7a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path><path
              d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path><path
              d="M16 3.13a4 4 0 0 1 0 7.75"></path><path
              d="M21 21v-2a4 4 0 0 0 -3 -3.85"></path></svg
          >
          Users
        </a>
      </nav>
    </aside>
    <main class="p-4 overflow-y-auto min-h-0">
      <slot />
    </main>
    <footer class="bg-[#FFC1BC] h-20 flex items-center px-8 justify-center" >By ara</footer>
  </body>
</html>

<style>
  body {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr 80px;
    grid-template-areas:
      "sidebar header"
      "sidebar main"
      "sidebar footer";
    height: 100vh;
  }
  header {
    grid-area: header;
  }
  aside {
    grid-area: sidebar;
  }
  main {
    grid-area: main;
  }
  footer {
    grid-area: footer;
  }
</style>